.even-row-color {
    background-color: rgba(166, 171, 183, 0.4) !important;
}

.asian_quotation {
  width: 100%;
  font-weight: bold;

  tr {
    height: 25px;

    td {
      border: 1px solid;
      text-align: center;
    }
    td.number_col {
      text-align: right;
      padding-right: 5px
    }
    td.text_col {
      text-align: left;
      padding-left: 5px
    }
  }

}